h1 {
    color:  rgba(255, 0, 0, 0.801);
    text-align: center;
     font-style:italic;
    font-size: 40px;
    background-color:rgb(255, 255, 255);
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50px;
  }
  .boxed {
   border: 2px solid green;
   padding: 6px;
   margin: 20px;
   background-color:  rgba(128, 0, 128, 0.842);
  }
  .sidebar {
  width: 60%;
  float: right;
  color: black;
  background-color: rgb(135, 207, 235);
  border-radius:50px ;
  margin-left:100px;


  }
  
  
  h2 {
    color: rgba(255, 0, 0, 0.801);
    font-style:oblique;
    font-size: 30px;
    text-align: center;
  }
  h3{
    color:  rgba(255, 0, 0, 0.801);
    font-style:oblique;
    font-size: 30px;
    text-align: center;
  }
  h4{
    color:  rgba(255, 0, 0, 0.801);
    font-style:oblique;
    font-size: 30px;
    text-align: center;
  }
  h5{
    color:  rgba(255, 0, 0, 0.801);
    font-style:oblique;
    font-size: 30px;
    text-align: center;
  
  }
  body {
    background-color: rgb(255, 255, 255);
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: black;
  }
  
  li {
    display: oneline;
    font-family: verdana;
    font-size: 20px;
  }
  .Education p {
    color: black;
    border-radius:25px ;
    background-color:rgb(135, 207, 235)
  
  }
  #one{
float:left;
width: 15%;
border-radius: 50%;
margin-top: 150px;
  }
  #two{
float: right;
width: 15%;
border-radius: 50%;
margin-top:150px;
  }
  ol{
    
    display: block;
    color: rgb(0, 0, 0);
     text-align: center;
    list-style-position: inside;
    background-color:rgb(135, 207, 235);
    line-height: 40px;
    border-radius:50px ;
}
  .main{
    text-align: center;
  }